RewriteEngine On

RewriteRule php5-cgi - [PT,L]
##RewriteRule docs.* - [PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

#RewriteLog /tmp/rewrite.log
#RewriteLogLevel 9
